<header>
  <!--nav bar-->
  <nav>
    <div class="nav-wrapper">
      <img src="/images/logo.svg" alt="logo" />
      <div class="nav__list">
        <ul class="nav__list--wrapper">
          <li class="nav__list--link"><a href="#about">about</a></li>
          <li class="nav__list--link"><a href="#services">services</a></li>
          <li class="nav__list--link"><a href="#project">project</a></li>
        </ul>
        <div class="btn-wrapper">
          <button class="btn btn-contact" type="button">
            <samp> contact </samp>
          </button>
        </div>
      </div>
      <div class="menu-bar">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  </nav>
  <!--ende of nav bar-->

  <section class="hero-section">
    <h1>we are creatives</h1>
    <img src="/images/icon-arrow-down.svg" alt="arrow down" />
  </section>
</header>
