<!--main section-->
<main>
  <section class="main-section">
    <!--start of single grid  -->
    <div class="main-section__grid">
      <div class="main-section__grid__text">
        <h2 class="main-section__grid__header">Transform your brand</h2>
        <p class="main-section__grid__paragraph">
          We are a full-service creative agency specializing in helping brands
          grow fast. Engage your clients through compelling visuals that do most
          of the marketing for you.
        </p>
        <button class="btn btn-learn"><samp> learn more</samp></button>
      </div>

      <div class="main-section__grid__image">
        <picture>
          <source
            srcset="
              /images/mobile/image-transform.jpg      750w,
              /images/desktop/image-transform-pc.jpg 1300w
            "
          />
          <img src="/images/mobile/image-transform.jpg" alt="egg" />
        </picture>
      </div>
    </div>
    <!--end of single grid  -->

    <!--start of single grid  -->
    <div class="main-section__grid">
      <div class="main-section__grid__text text-standout">
        <h2 class="main-section__grid__header">
          Stand out to the right audience
        </h2>
        <p class="main-section__grid__paragraph">
          Using a collaborative formula of designers, researchers,
          photographers, videographers, and copywriters, we’ll build and extend
          your brand in digital places.
        </p>
        <button class="btn btn-learn"><samp> learn more</samp></button>
      </div>

      <div class="main-section__grid__image">
        <picture>
          <source
            srcset="
              /images/mobile/image-stand-out.jpg      750w,
              /images/desktop/image-stand-out-pc.jpg 1300w
            "
          />
          <img src="/images/mobile/image-stand-out.jpg" alt="image-stand-out" />
        </picture>
      </div>
    </div>
    <!--end of single grid  -->

    <!--start of single grid  -->
    <div class="main-section__grid main-section__poster">
      <div class="main-section__poster__graphic">
        <div class="main-section__grid__text">
          <h2 class="main-section__grid__header">Graphic design</h2>
          <p class="main-section__grid__paragraph">
            Great design makes you memorable. We deliver artwork that
            underscores your brand message and captures potential clients’
            attention.
          </p>
        </div>
      </div>

      <div class="main-section__poster__photography">
        <div class="main-section__grid__text">
          <h2 class="main-section__grid__header">Photography</h2>
          <p class="main-section__grid__paragraph">
            Increase your credibility by getting the most stunning, high-quality
            photos that improve your business image.
          </p>
        </div>
      </div>
    </div>
    <!--end of single grid  -->
  </section>
</main>
