<section class="products-section">
  <!--start of single image -->
  <picture class="products-section__image">
    <source
      srcset="
        /images/mobile/image-gallery-milkbottles.jpg      750w,
        /images/desktop/image-gallery-milkbottles-pc.jpg 1500w
      "
    />
    <img src="/images/mobile/image-gallery-milkbottles.jpg" alt="milk-bottle" />
  </picture>
  <!--end of single image-->
  <!--start of single image -->
  <picture class="products-section__image">
    <source
      srcset="
        /images/mobile/image-gallery-orange.jpg      750w,
        /images/desktop/image-gallery-orange-pc.jpg 1500w
      "
    />
    <img src="/images/mobile/image-gallery-orange.jpg" alt="orange" />
  </picture>
  <!--end of single image-->
  <!--start of single image -->
  <picture class="products-section__image">
    <source
      srcset="
        /images/mobile/image-gallery-cone.jpg      750w,
        /images/desktop/image-gallery-cone-pc.jpg 1500w
      "
    />
    <img src="/images/mobile/image-gallery-cone.jpg" alt="cone" />
  </picture>
  <!--end of single image-->
  <!--start of single image -->
  <picture class="products-section__image">
    <source
      srcset="
        /images/mobile/image-gallery-sugar-cubes.jpg     750w,
        /images/desktop/image-gallery-sugarcubes-pc.jpg 1500w
      "
    />
    <img src="/images/mobile/image-gallery-sugar-cubes.jpg" alt="sugar-cubes" />
  </picture>
  <!--end of single image-->
</section>
