<!--testimonial section-->
<section class="testimonial-section">
  <h3 class="testimonial-section__header">Client testimonials</h3>
  <div class="testimonial-article__wrapper">
    <!--start of single article-->
    <article class="tesimonial-article">
      <img src="/images/image-emily.jpg" alt="person-img" />
      <p class="tesimonial-article__paragraph">
        We put our trust in Sunnyside and they delivered, making sure our needs
        were met and deadlines were always hit.
      </p>
      <h4 class="tesimonial-article__name">Emily R.</h4>
      <span class="tesimonial-article__job"> Marketing Director</span>
    </article>
    <!--start of single article-->

    <!--start of single article-->
    <article class="tesimonial-article">
      <img src="/images/image-thomas.jpg" alt="person-img" />
      <p class="tesimonial-article__paragraph">
        Sunnyside’s enthusiasm coupled with their keen interest in our brand’s
        success made it a satisfying and enjoyable experience.
      </p>
      <h4 class="tesimonial-article__name">Thomas S.</h4>
      <span class="tesimonial-article__job"> Chief Operating Officer</span>
    </article>
    <!--start of single article-->

    <!--start of single article-->
    <article class="tesimonial-article">
      <img src="/images/image-jennie.jpg" alt="person-img" />
      <p class="tesimonial-article__paragraph">
        Incredible end result! Our sales increased over 400% when we worked with
        Sunnyside. Highly recommended!
      </p>
      <h4 class="tesimonial-article__name">Jennie F.</h4>
      <span class="tesimonial-article__job"> Business Owner</span>
    </article>
    <!--start of single article-->
  </div>
</section>
